{% extends 'base.html' %}
{%load staticfiles%}

{% block content %}
{% if messages %}
{% for message in messages %}


    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>

{% endfor %}
{% endif %}
<div class="container">
    <h1>Contato</h1>
    <hr/>
    <h3> Fale um pouco sobre seu projeto! </h3>
    <form id="formContact" action="{% url 'index:contact' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {% if forloop.last%}
            <br>
            <div id="file">
        {% endif %}
            {{field.label_tag}}
            <br>
            {{field}}
        {% if forloop.last%}
            </div>
        {% endif %}
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}