{% extends 'base.html' %}
{%load staticfiles%}

{% block content %}
    <div class="container main-index">
        <div class="row">
            <h2>Oque Fazemos</h2>
            <hr/>
        </div>
        <div class="row index-box1">
            <div class="col-sm-3">
                <img src="{% static 'image/shorticon.png' %}" style="width:100%;">
            </div>
            <div class="col-sm-9 ">
                <h3>Soluções WEB</h3>
                <p>Lorem ipsum dolor sit amet, ius et porro consectetuer, est ex omnium delicata corrumpit. No iusto admodum accumsan vix, quaeque dolorum delicata per te. Choro nonumes voluptaria te his, vim laudem aperiri singulis id, sea at veniam quodsi. Et nam aliquip equidem, te mandamus intellegat cum, cu assum iisque est.
                    </p>
            </div>
            
        </div>

        <div class="row index-box1">
            <div class="col-sm-9">
                <h3>Marketing Digital</h3>
                <p>Lorem ipsum dolor sit amet, ius et porro consectetuer, est ex omnium delicata corrumpit. No iusto admodum accumsan vix, quaeque dolorum delicata per te. Choro nonumes voluptaria te his, vim laudem aperiri singulis id, sea at veniam quodsi. Et nam aliquip equidem, te mandamus intellegat cum, cu assum iisque est.
                    </p>
            </div>
            <div class="col-sm-3 ">
                <img src="{% static 'image/shorticon.png' %}" style="width:100%;">
            </div>
        </div>

        <div class="row index-box1">
            <div class="col-sm-3">
                <img src="{% static 'image/shorticon.png' %}" style="width:100%;">
            </div>
            <div class="col-sm-9 ">
                <h3>Design</h3>
                <p>Lorem ipsum dolor sit amet, ius et porro consectetuer, est ex omnium delicata corrumpit. No iusto admodum accumsan vix, quaeque dolorum delicata per te. Choro nonumes voluptaria te his, vim laudem aperiri singulis id, sea at veniam quodsi. Et nam aliquip equidem, te mandamus intellegat cum, cu assum iisque est.
                    </p>
            </div>
                
        </div>
        
        <div class="row">
            <h2>Direto ao Assunto</h2>
            <hr/>
            <div class="col-sm-4">
                <div class="index-box2">
                    <h3>Soluções WEB</h3>
                    <p>TESTE TESTE</p>
                    <p>TESTE TESTE</p>
                    <p>TESTE TESTE</p>
                    
                </div>
            </div>
            <div class="col-sm-4">
                <div class="index-box2">
                    <h3>Marketing Digital</h3>
                    <p>TESTE TESTE</p>
                    <p>TESTE TESTE</p>
                    <p>TESTE TESTE</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="index-box2">
                    <h3>Design</h3>
                    <p>TESTE TESTE</p>
                    <p>TESTE TESTE</p>
                    <p>TESTE TESTE</p>
                </div>
            </div>
            
        </div>
        
    </div>
    

{% endblock %}