#my-body{

  font-family: 'Ubuntu', sans-serif;

}
/*  NECESSÁRIO PARA OS TEXTOS FICAREM NA IMAGEM
    É O CONTAINER ONDE A IMAGEM E OS TEXTOS ESTÃO
*/
.cont-top {
    position: relative;
  }
/* IMAGEM LINDA DO TOPO DO SITE */
.img-top{
  width: 100%;
}

/* Barra de navegação fora da imagem */
.affix {
  -webkit-transition:padding 0.2s ease-out;
  -moz-transition:padding 0.2s ease-out;  
  -o-transition:padding 0.2s ease-out;         
  transition:padding 0.2s ease-out;
  background-color: #F7F7F7;
  border-color: #D4D4D4;
  
}
/* Barra de Mavegação na imagem */
.affix-top {
  background:transparent;
  border-color:transparent;
  padding: 15px;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease; 
  -o-transition:all 0.5s ease;         
  transition:all 0.5s ease;
}

/* Barra de navegação para celular na imagem*/
.affix-top .navbar-collapse {

  border-color:transparent;
  box-shadow:initial;
     
}

/* Itens nav quando a página está dentro da imagem */
.affix-top .nav>li>a {

  color: white;
  font-size: 16px;
}

/*Nome empresa quando a página está dentro da imagem*/
.affix-top .navbar-brand {
  color: white;
  font-size: 28px;
  
}


/* Titulo da Imagem Principal do site */
.title {
  position: absolute;
  top:  33%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-family: 'Source Sans Pro',sans-serif;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: normal;
  font-weight: normal;
  line-height: 52px;
  text-shadow: 0px 0px 0px transparent;
  font-family: 'Ubuntu', sans-serif;

  
}

/* Subtitulo na Imagem principal do site */
.sub-title {
  position: absolute;
  top:  60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color:white;
  font-family: 'Source Sans Pro',sans-serif;
  font-size: 50px;
  font-style: normal;
  color: #FFFFFF;
  letter-spacing: normal;
  font-weight: normal;
  line-height: 52px;
  text-shadow: 0px 0px 0px transparent;
  font-family: 'Ubuntu', sans-serif;

}

/* footer da página */
.footer {
  background-color: #F7F7F7;
  border-top: solid;
  border-width: 1px;
  border-color: #D4D4D4;
}

/* Imagens de redes sociais no footer da página */
.img-footer{
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* caixa das explicações dos serviços no index */
.index-box1{
  background-color: #F7F7F7;
  padding:20px;
  margin: 10px;
  border-radius: 5px 2px 30px 2px;
  border: solid;
  border-width: 1px;
  border-color: #D4D4D4;
}

/* caixa com os valores e facilidades de pagamentos */
.index-box2{
  background-color: #F7F7F7;
  padding:20px;
  margin: 10px;
  border-radius: 5px 2px 30px 2px;
  border: solid;
  border-width: 1px;
  border-color: #D4D4D4;
}

/* Colocando uma borda na parte de baixo de todos os componentes
   Dentro das descriões de dinheiro
*/
.index-box2>h3{
  border-bottom: solid;
  border-width: 1px;
  border-color: #D4D4D4;
}

/* Imagem do portfolio */
.portfolio-image{
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

/* Overlay itens portfolio */
.columncatalog:hover .overlay {
  opacity: 1;
  
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-top:0px;
}
/* FIM Overlay itens portfolio */

/* Imagens dos projetos */
.img-project{
  width: 100%;
  border-bottom: solid;
  border-width: 2px;
  color:white;
}