{% extends 'base.html'%}

{% block content %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{message.tags}}">
    {{message}}
</div>
{% endfor %}
{% endif %}

<div class="container">
    <div class="row">
            <div class="col-sm-6">
                <h2>Esqueceu Sua Senha?</h2>
                <ul>
                    <li>Estamos te Enviando um email de recuperação</li>
                    <li>O email conterá seu login e um link para trocar a senha</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h2>Login</h2>
                <form action="{% url 'accounts:password_reset' %}" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        {{field.label_tag}}
                        <br/>
                        {{field}}
                    {% endfor %}
                    <hr/>
                
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                </form>
            </div>
        </div>
</div>

{% endblock %}